<div id="control-panel" class="grid-container fluid">
    <div class="row">
        <div class="grid-x">
            <i class="cell auto fa-solid fa-magnifying-glass" style="display:inline-block;margin:20px auto;"></i>

            <form method="post" action="/user/contacts/search">
                <div class="input-group">
                    <input id="search-input" name="searchKey" class="cell auto input-group-field" type="text">
                    <input type="submit" class="button primary" value="Submit">
                </div>
            </form>
        </div>

        <div class="grid-x">
            <i class="cell auto fa-solid fa-eye-slash" style="display:inline-block;margin:10px auto;"></i></p>

            <input id="hide-checkbox" class="cell auto input-group-field" type="checkbox">
        </div>
    </div>
</div>