<div class="main-container grid-container fluid">
    <div class="grid-x grid-margin-y">

        {{#if error}}
        <div class="cell small-12">
            <div class="grid-container" style="align-items: stretch;flow-direction:row;margin:0;padding:15px;">
                {{#each errors}}
                {{#each . as |key value|}}
                <p class="cell small-12 lead" style="margin:0;">{{key}}</p>
                {{/each}}
                {{/each}}
            </div>
        </div>
        {{/if}}

        <div class="cell medium-9 small-12">
            <div class="dashboard-container" style="margin:10px 5px;">
                <div class="dashboard-personal-code-title-container" style="margin:5px;">
                    <p class="lead dashboard-personal-code-title cell small-12" style="margin:5px;">
                        Your Personal ID
                    </p>
                    <p class="dashboard-personal-code cell small-12" style="margin:5px;">000000000000000000000</p>
                </div>
            </div>
        </div>

        <div id="dialog"></div>
        <input id="rmtuser" type="hidden" value="{{user._id}}" readonly>
    </div>
</div>